#jogos{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(233, 255, 86);
    border-top: 10px solid black ;
    border-bottom: 10px solid black ;
}

#jogos h3{
    padding-bottom: 30px;
    padding-top: 20px;
}

.titulo{
    font-size: 30px;
    font-weight: 800;
}

.subtitulo{
    font-size: 25px;
    font-weight: 600;
}


.divisao{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    align-items: flex-end;
    margin-bottom: 0px;
    
}

.tabelas{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    vertical-align:center;
}
.tabela-jogosF{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 0px;
}

.tabela-jogosM{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: auto;
    margin: auto;
    margin-top: 0px;
}

td{
    border: 0px;
    width: 100%;
}

tr{
    border: 0px;
    border: 3px black solid;
    padding: 10px;
    font-weight: 700;
}

.blue{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.meio2{
    width: 20px;
    height: 100px;
    border-right:3px black solid ;
    border-left:3px black solid ;
}

.red{
    height: 100px;
    width: 300px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 3px solid #000; */
}


.Brasil{
    width: 40px;
    height: auto;
    margin: 0px;
    padding-left: 15px;
}

.tcheca{
    width: 40px;
    height: auto;
    padding-left: 15px;

}

.Urss{
    width: 40px;
    height: auto;
    padding-left: 15px;

}

.JapAlemanha{
    width: 40px;
    height: auto;
    margin: 0px;
    padding-left: 15px;

}


.Dia{
    margin-top: 100px;
}


.dias{
    display: none;
}


.apareca1{
    display: block;
}
