#times {
    width: 100%;
    height: auto;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: rgb(104, 241, 106);
    padding: 50px 0px;
}


.fotosDosTimes {
    display: none;
}

.hidden{
    display: none;
}

.apareca {
    display: block;
}




.botoesCss{
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 0px;
    width: 170px;
    padding: 10px;
    border: 4px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: aquamarine;
    transition: padding, .09s;
    margin-top: 30px;
}

.botoesCss2{
    
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 0px;
    width: 130px;
    padding: 10px;
    border: 4px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: aquamarine;
    transition: padding, .09s;
    margin-top: 30px;

} 
.primeiroBotao{
    margin-top: 0px;
}

#times h2:nth-child(3){
    margin-top: 50px;
}


.botoesCss:hover {
    padding: 15px;
    background-color: rgb(29, 119, 89);
}

#times h3 {
    font-size: 25px;
    font-weight: 700;
}

#timeNono {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#timePrimeiro {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeSegundo {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeTerceiro {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timePrimeiro p {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
}

.imgTimes {
    width: 100px;
    height: auto;
    padding-left: 10px;
}

.button {
    margin-left: 50px;
    width: 130px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: #79b1ff;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover,.button:focus {
    background-color: #0068fa;
    color: white;
}

.fotosNono {
    display: inline;
}

.fotos {
    width: 150px;
    height: auto;
    border: 4px black solid;
    border-radius: 5px;
}

.list-fotos {
    display: none;
    justify-content: space-evenly;
    padding-top: 80px;
}



.list-fotos li {
    display: inline-block;
    list-style-type: none;
}


.show {
    display: flex;
}

.esconde{
    display: none;
}



.outra {
    padding-top: 30px;
}

.nono {
    width: 95%;
    padding: 30px 0px;
    margin: auto;
    border: 6px solid black;
    border-radius: 40px;
    margin-top: 70px;
}

.primeiro {
    width: 95%;
    padding: 30px 0px;
    margin: auto;
    border: 6px solid black;
    border-radius: 40px;
    margin-top: 50px;
}

.segundo {
    width: 95%;
    padding: 30px 0px;
    margin: auto;
    border: 6px solid black;
    border-radius: 40px;
    margin-top: 50px;
}

.terceiro {
    width: 95%;
    padding: 30px 0px;
    margin: auto;
    border: 6px solid black;
    border-radius: 40px;
    margin-top: 50px;
}

.cssTable{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-collapse: collapse;
    width: 1200px;

}

.cssTable tr{
    height: 60px;
    border:  1px solid white;
    color: white;
}